<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pika_Test_Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pika_Test_Framework.Properties.Settings.PikaDBConnectionString"
            connectionString="Data Source=DRSTRANGE-PC;Initial Catalog=PikaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pika_Test_Framework.Properties.Settings.PikaDBConnectionString1"
          connectionString="Data Source=PikaDB;Initial Catalog=PikaDB;Integrated Security=False;User ID=PikaUser;Password=amatPika"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pika_Test_Framework.Properties.Settings>
            <setting name="Baseline" serializeAs="String">
                <value>-1</value>
            </setting>
        </Pika_Test_Framework.Properties.Settings>
    </userSettings>
</configuration>